/* Global Styles */
* {
  box-sizing: border-box;
}

.main-container {
  /*background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
  transition: all 0.3s;
  justify-content: flex-start !important;
}

h1, h3 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid white;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Game Container Styles */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  background-image: url("/img/boat/Quest_island_1.png?v3");
  background-size: contain; /* This will cover the entire viewport */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center center; /* This will center the image */
  width: 1354px;
  height: 904px;
  position: relative;
}

.previous-hash-results {
  position: absolute;
  top: 46%; /* Adjust these values to move the object to the desired spot */
  left: 73%;
  width: 34px; /* Size of the clickable area */
  height: 41px;
  cursor: pointer;
  border: none; /* Remove any default borders */
}

.oldman-object {
  position: absolute;
  top: 80%; /* Adjust these values to move the object to the desired spot */
  left: 80%;
  width: 36px; /* Size of the clickable area */
  height: 37px;
  cursor: pointer;
  border: none;
}

.clickable-object {
  position: absolute;
  top: 38%;
  left: 63%;
  width: 135px;
  height: 119px;
  cursor: pointer;
  border: none; /* Remove any default borders */
}

.shopButton {
  position: absolute;
  top: 43%; /* Adjust these values to move the object to the desired spot */
  left: 59%;
  width: 70px; /* Size of the clickable area */
  height: 70px;
  cursor: pointer;
  border: none; /* Remove any default borders */
}

.stone {
  position: absolute;
  top: 35%; /* Adjust these values to move the object to the desired spot */
  left: 44%;
  width: 49px; /* Size of the clickable area */
  height: 52px;
  cursor: pointer;
  border: none; /* Remove any default borders */
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

/* Game Button Styles */
.game-buttons-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  justify-items: center;
  padding: 20px;
}

.game-button {
  background-color: transparent;
  width: 80px;
  height: 80px;
  color: white;
  font-size: 18px;
  box-shadow: none;
  transition: transform 0.3s;
  border-radius: 50%;
  border: solid;
  background-image: url("/img/boat/Quest_button_1.png?v2") !important; /* Replace with your image path */
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.game-button:hover {
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0px 0px 5px #ffffff, 0px 0px 15px #ffffff, 0px 0px 25px #ffffff, 0px 0px 50px #ffffff;
  /*-webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
  transform: scale(1.05);
}

.glowing-effect {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff9b00, 0 0 20px #ff9b00, 0 0 25px #ff9b00, 0 0 30px #ff9b00, 0 0 35px #ff9b00;
}

/* NPC Styles */
#npc:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#npc:after {
  content: "Click me for a hint!";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 5px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

#npc:hover:after {
  display: block;
}

.user-entries {
  width: 100%;
  margin-top: 20px;
}

.hash-results {
  width: 20%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.custom-swal {
  height: 800px;
  color: white;
  background: transparent !important; /* Ensure Swal's default styles are overridden */
  background-image: url("/img/boat/Quest_bet_1.png?v5") !important; /* Replace with your image path */
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.description-cell {
  max-width: 300px; /* Adjust the maximum width as needed */
  white-space: normal; /* Allow text to wrap */
}

.code {
  position: absolute;
  bottom: 10%;
  right: 7%;
  width: 120px;
  height: 72px;
  cursor: pointer;
  border: none;
}
